# ------------------- FRONTEND IGNORES -------------------
# dependencies
client/node_modules
client/.pnp
client/.pnp.js

# testing
client/coverage

# next.js
client/.next/
client/out/

# production
client/build

# misc
client/.DS_Store
client/*.pem

# debug
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# local env files
client/.env*.local

# vercel
client/.vercel

# typescript
client/*.tsbuildinfo

# ------------------- BACKEND IGNORES -------------------
# Binaries for programs and plugins
server/*.exe
server/*.exe~
server/*.dll
server/*.so
server/*.dylib

# Test binary, built with `go test -c`
server/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
server/*.out

# Go workspace file
server/go.work

# env files
server/.env
